*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html,#root{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html{
  font-size: 63.5%;
}
body{
  font-family: sans-serif;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.3;
}

.section {
  position: relative;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  padding-top: 200px;
  max-width: 900px;
}

.intro {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1;
  padding-bottom: 170px;
}

.large_text {
  font-size: 10rem;
}

.small_text {
  color: #ffc500;
}

.title {
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: .5px;
  color: #ffc500;
}

.text {
  line-height: 1.6;
  max-width: 500px;
  background: rgba(0,0,0,.3);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.outro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

button {
  border: none;
  background-color: #ffc500;
  color: #000;
  font-size: 1.6rem;
  padding: 15px 20px;
  max-width: 250px;
  cursor: pointer;
  font-weight: 600;
}

.outro p {
  text-align: center;
  font-size: 1.3rem;
  max-width: 600px;
  padding: 120px 0;
}
.outro a {
  text-align: center;
  color: #ffc500;
}

@media screen and (min-width: 720px) {
  .text {
    background: none;
  }
}